//----------------------------------------------------------------
//IMPORTS
//----------------------------------------------------------------
 
@import "sass/_underscores";
@import "sass/_grid";

//----------------------------------------------------------------
//COLOURS
//----------------------------------------------------------------

$logoRed: #A00000;
$lightGray: #EDEDED;
$darkGray: #595959;
$yellow: #FFCC00;
$dirtyYellow: #E0C341;
$dirtyYellowLite: #E9CE4D;
$darkBlue: #2D3E50;
$beige: #FAECCE;
$lightBeige: #FEF6D8;
$lighterBeige: #F9F4ED;


//----------------------------------------------------------------
//MIXINS
//----------------------------------------------------------------

@mixin fontify ($fz, $fw, $lh:1.5em, $td:none) {
	font-family: 'Source Sans Pro', 'Georgia', serif;
	font-size: $fz;
	font-weight: $fw;
	line-height: $lh;
	text-decoration: $td;
}



//----------------------------------------------------------------
//STYLES
//----------------------------------------------------------------

body {
	@include fontify (16px,400);
	color: #000;
}

//font fanciness for headers and whatnot
h1,h2,h3,h4,h5,h6 {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	clear:none;
}

h1 {
	@include fontify (1.5em, 400);
	color: $logoRed;
	text-transform: uppercase;
}

h2 {
	@include fontify(2em, 700);
}

a {
	color: $logoRed;
	text-decoration: none;
	&:visited {
		color: $logoRed;
	}
	&:hover {
		color: black;
	}
}

//CONTAINERS

.fullBleed {
	width: 100%;
	float: left;
	.container {
		max-width: 1400px;
		margin: 0 auto;
		width: 100%;
		overflow: hidden;
		padding: 25px;
	}
}

//----------------------------------------------------------------
//HEADER
//----------------------------------------------------------------

h1,h2,h3 {
	font-family: 'Oswald';
}

.masthead {
	clear:none;
	width: 100%;
	float: left;

}

.site-branding {
	clear:none;
	@include column(4);
	padding: 10px 0px;
	.site-logo{
		display: inline;
		float: left;
		img {
			width: 30px;
		}
	}
	.site-title {
		@include fontify(1.33em,400);
		padding-left: 15px;
		display: inline;
		float: left;
		font-family: 'Oswald';
		text-transform: uppercase;
		a {
			color: black;
		}
	}
}

.menu-container {
	float: right;
}

nav.main-navigation {
	clear:none;
	@include column(8);
	.menu-main-menu-container {
		float: left;
		border: 1px solid #ddd;
			&:first-child {
				border-left: none;
			}
	}
	ul {
		li a {
			padding: 10px 30px;
			margin: 0;
			border-left: 1px solid #eee;
			color: #bbb;
			&:hover {
				color: #444;
			}
		}
	}
}


//----------------------------------------------------------------
//HOMEPAGE
//----------------------------------------------------------------

.metaslider.hero {
	max-width: 1400px;
}

.fullBleed.contentPreview {
	padding: 10px;
	section {
		@include column(4);
		figure {
			text-align:center;
			width: 20%;
			min-width: 65px;
			margin: 10px auto;

		}
		figcaption {
			text-align: center;
			h3{
				text-transform: uppercase;
				font-weight: 700;
				margin-bottom: 10px;
			}
			p {
				@include fontify(1em,400);
				padding: 0 30px;
			}
		}
	}
}

.blogSectionHead {
	clear: none;
	@include column(12);
	padding: 10px;
	margin-bottom: 10px;
	.blog-logo{
		display: inline;
		float: left;
		img {
			width: 30px;
		}
	}
	.blog-title {
		@include fontify(1.33em,400);
		padding-left: 15px;
		display: inline;
		float: left;
		font-family: 'Oswald';
		text-transform: uppercase;
		a {
			color: black;
		}
	}
}

.fullBleed.homePosts {
	background-color: darken($lighterBeige,2);
	.container {
		margin-bottom: 50px;
	}
}


.homepagePost {
	clear: none;
	@include column(4);
	margin-bottom: 15px;
	box-shadow: 0px 0px 3px $beige;
	p {
		margin-bottom: 0;
	}
	header {
		min-height:86px;
		clear: none;
		padding: 20px;
		padding-right: 50px;
		font-weight: 700;
		text-transform: uppercase;
		background-color: white; 
		.post-categories { //this is generated by WordPress (the_category)
			margin: 0;
			padding: 0;
			@include fontify(0.75em,400);
			li {
				list-style-type: none;
				margin: 0;
			}
		}

	}
	figure {
		clear: none;
		width: 100%;
		height: 200px;
		overflow: hidden;
		img {
		width: 100%;
		}
	}
	article {
		clear: none;
		padding: 20px 20px 0px 20px;
		background-color: white;
		font-family: 'Source Serif Pro';
		color: #555;
		.read-more {
			@include fontify(0.75em,700);
			text-transform: uppercase;	
		}
	}
	footer {
		clear: none;
		@include fontify(14px,700);
		padding: 20px;
		background-color: white;
		-webkit-border-bottom-left-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
	}
}


//----------------------------------------------------------------
//FOOTER
//----------------------------------------------------------------

.fullBleed.footerSection {
	background-color: white;
	.container {
		padding: 10px;
		background-color: #aaa;
	}
}

.footerContainer {
	max-width: 1400px;
	width: 100%;
	float: left;
	padding: 25px;
	background-color: white;
}

#footer-sidebar {
	float: left;
}

.footerSidebar {
	@include column(3);
	padding-right: 20px;
	.textwidget {
		@include fontify(1em,300);
		font-family: 'Source Serif Pro';
	}
	.widgetTitle {
		@include fontify(1em,400);
		font-family: 'Oswald';
		text-transform: uppercase;
		color: black;
		margin-bottom: 0.5em;
	}
	ul {
		margin: 0;
		li {
			@include fontify(1em,400);
			list-style-type: none;
			padding: 0;
			padding-bottom: 0.5em;
			.post-date {
				display:block;
				@include fontify(0.8em,400);
			}
		}

	}
	
}

.socialIconsSection {
	font-size: 20px;
	.fa {
		padding-right: 5px;
	}
}


.site-info {
	@include fontify(0.8em,400);
	color:white;
	p {
		margin: 0;
	}	
}

//----------------------------------------------------------------
//BLOG CONTENT (content.php)
//----------------------------------------------------------------

.fullBleed.blogPage {
	background-color: $lighterBeige;
}

.post {
	padding-bottom: 75px;
	margin-bottom: 3.5em;
	border-bottom: 5px solid $logoRed;
}

figure.featuredImage {
	@include column(12);
	img {
		max-width: 70%;
	}	

}

.entry-title {
	padding-top: 2em;
}

.entry-content {
	clear: none;
	font-family: 'Source Serif Pro';
	color: #555;
	.read-more {
		@include fontify(0.75em,700);
		text-transform: uppercase;	
	}

}









//----------------------------------------------------------------

//-----------------------------------------------------------------
//-----------------------------------------------------------------
// MEDIA QUERIES
//-----------------------------------------------------------------
//-----------------------------------------------------------------

// ----------------------------------------------------------------
//MAX-WIDTH 960PX
// ----------------------------------------------------------------

@media all and (max-width: 960px) {
	.homepagePost {
		@include column(6);
		margin-bottom: 15px;
		.excerpt {
			min-height: 188px;
		}
	}
} 

@media all and (max-width: 815px) {
	.site-branding .site-title {
		font-size: 1em;
	}

}

@media all and (max-width: 815px) {
	.homepagePost {
		@include column(12);
		margin-bottom: 15px;
		.excerpt {
			min-height: 0;
		}
	}
}
























